{% extends "base.html" %}
{% block body %}



<div class="update-reminder">
    <h1>Delete Your reminder</h1>
    <div class="provider-data">
        <table border="2px">
            <tr>
                <th>Date</th>
                <th>Subject</th>
                <th>Email</th>
                <th>Phone</th>
                <th>SMS</th>
            </tr>
            {% for i in setReminder %}
            <tr>
                <td>{{i.date}}</td>
                <td>{{i.subject}}</td>
                <td>{{i.email}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.sms}}</td>
                <td>
                    <a href="/delete_reminder/{{i.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock body %}